// out: style.css, compress: true, sourceMap: false, autoprefixer: > 5%; last 2 Chrome versions; not ie 6-9
body{
    background: #f3f3f3;
    padding: 12px;
    #app{
        .row{
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 5px #eee;
            padding: 0 20px;
            margin-bottom: 5px;
        }
    }
}